<footer id="footer" class="vspace20">
        
        
           
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <h1 class="footer-logo">
                        <img src="{{asset('img/logo-blue.png')}}" alt="Footer Logo Blue">
                        </h1>
                        <p>Agence Opération'elles' - Developé par Erichris & Maëva Ridard</p>
                    </div>
                    <div class="col-md-7">
                        <ul class="footer-nav">
                            <li>
                                <h4>Notre Agence</h4>
                                <p> 12 rue jacques ibert <br>
                                    92300 Levallois perret <br>
                                    • France •
                                </p>

                            </li> 
                            <li>
                                <h4><a href="{{path('contact')}}">contact</a></h4>
                                <p> +33(0)6 59 41 18 35 <br> +33(0)6 30 27 45 09</p>

                            </li>
                            <li>
                                <h4>Notre Agence</h4>
                                <p> 12 rue jacques ibert <br>
                                    92300 Levallois perret <br>
                                    • France •
                                </p>

                            </li>  
                            
                        </ul>
                    </div>
                </div>
            </div>
        
        <div class="overlay overlay-boxify">
            <nav>
                <ul class="footer-nav">
                            <li>
                                <h4>Notre Agence</h4>
                                <p> 12 rue jacques ibert <br>
                                    92300 Levallois perret <br>
                                    • France •
                                </p>

                            </li> 
                            <li>
                                <h4><a href="{{path('contact')}}">contact</a></h4>
                                <p> +33(0)6 59 41 18 35 <br> +33(0)6 30 27 45 09</p>

                            </li>
                            <li>
                                <h4>Notre Agence</h4>
                                <p> 12 rue jacques ibert <br>
                                    92300 Levallois perret <br>
                                    • France •
                                </p>

                            </li>  
                            
                        </ul>
            </nav>
        </div>
       
  