{% extends "::layout/layout.html.twig" %}

{% block body %}
	<div class="titre">
    <h1>Création d'une nouvelle catégorie</h1>
    </div>

		<div class="categorie_new">
    	{{ form(form) }}

        <ul class="record_actions">
		    <li>
		    	<br>
		        <a class="bouton" href="{{ path('admin_categories') }}">
		            Retour à la liste
		        </a>
		    </li>
		</ul>
		</div>


{% endblock %}
