	
{% extends "::layout/layout.html.twig" %}

{% block body %}
	<div class="container">
		<div class="row">
			
			<div class="span12">
				<div class="row">
                    <h4>ELEONORA ABBAGNATO</h4>
                    <h5>AB29837 Item Model</h5>
                    <p>Elle a depuis ajouté à son répertoire : Symphonie en ut, Les Quatre tempéraments, Concerto Barocco, Tchaïkovski-pas de deux, Agon, Sérénade (Balanchine),le rôle –titre de Giselle (d’après Coralli etPerrot), Pulcinella (Dunn), Woundwork 1 (Forsythe), le rôle-titrede Paquita (Lacotte d’aprèsMazilier et Petipa), Etudes (Lander), Suite en blanc (Lifar), Nathalie dans Les Enfants du paradis (Martinez), L’Anatomie de la sensation (McGregor),le rôle-titre de Sylvia, Troisième Symphonie de Gustav Mahler (Neumeier),Aurore dans La Belle au bois dormant, une dessœurs et le rôle-titre de Cendrillon, Juliette dans Roméo et Juliette, Odette-Odile dans Le lac des cygnes (Noureev), La Jeune fille dans Le Loup (Petit), Le Parc (Preljocaj).</p>
				</div>
				<div class="row">
                    <h4>AMANDINE ALBISSON</h4>
                    <h5>AB29837 Item Model</h5>
                    <p>Il a depuis ajouté à son répertoire : Apollon (Balanchine), Le Sacre du printemps (Béjart), Une Sorte de…, Appartement (Ek), Pétrouchka (Fokine), Kaguyahime (Kylián), Lescaut dans L’Histoire de Manon (MacMillan), L’Après-midi d’un faune (Nijinski), Drosselmeyr / le Prince dans Casse-Noisette, Abderam dans Raymonda, Solor dans La Bayadère (Noureev), Le Jeune homme dans Le Rendez-vous (Petit), rôle-titre de Siddharta (Preljocaj), In The Night (Robbins).</p>
				</div>
				<div class="row">
                    <h4>AURÉLIE DUPONT</h4>
                    <h5>AB29837 Item Model</h5>
                    <p>Danse Albrecht dans Giselle (d’après Coralli et Perrot), White Darkness (Duato), Le Maure dans Pétrouchka (Fokine), Lucien dans Paquita (Lacotte d’après Mazilier et Petipa), le rôle-titre de Caligula (Le Riche), Suite en blanc (Lifar), Armand dans La Dame aux camélias (Neumeier), Jean de Brienne et Abderam dans Raymonda, Solor dans La Bayadère (Noureev), Frédéri dans L’Arlésienne (Petit), rôle-titre de Siddharta (Preljocaj) et In The Night (Robbins).
					<br>
					A l’issue de la représentation de La Bayadère (Noureev), le 2 juin 2010, est nommé « Étoile ».
					<br>
					Il a depuis ajouté à son répertoire : Orphée dans Orphée et Eurydice (Bausch), Appartement (Ek), Lescaut dans L’Histoire de Manon (MacMillan), Baptiste dans Les Enfants du paradis (Martinez), Le Prince Siegfried dans Le Lac des cygnes, L’Acteur-vedette dans Cendrillon (Noureev), Le Loup, Le Jeune homme et la mort, Don José dans Carmen (Petit), Afternoon of a Faun (Robbins).</p>
				</div>
			</div>
		</div>
	</div>

	{% endblock %}