{% extends "::layout/layout.html.twig" %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>{{ page.titre }}</h1>
        <div class="span12">
        <!-- |raw permet interpreter la page en html sinon la page twig affiche les balises H1 p a et autres -->
            {{ page.contenu|raw }}
        </div>
    </div>
</div>
{% endblock %}