{% trans_default_domain 'FOSUserBundle' %}

<div class="enregistrement">
<div class="row">
        <div class="inscription">
                  
            <div class="register_content">
                <div class="frame">
                    <div class="inscription_container">
                        <h4>Inscription</h4>
                        <form action="{{ path('fos_user_registration_register') }} " {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
                                     {{ form_widget(form) }}
                        <br />
                        <input class="bouton" type="submit" value="{{ 'registration.submit'|trans }}">                 
                        </form>
                    </div>
                </div>    
            </div>        
                
            
        </div> <!-- end span 12 --> 
</div> <!-- end row -->    
</div> <!-- end enregistrement --> 
    