{% extends "::layout/layout.html.twig" %}

{% block body -%}
    <h1>Galerie list</h1>

    <div class="container">
    	<div class="span9">
    		<a href="{{ path('danseuse_galerie_new') }}">Ajouter une photo</a>
    	</div>
    	<section>
			<ul class="lb-album">
				<li>
					<a href="#image-1">
						<img src="images/thumbs/1.jpg" alt="image01">
						<span>Pointe</span>
					</a>
					<div>
						<a href="#">DELETE</a>
					</div>
				</li>

				<li>
					<a href="#image-1">
						<img src="images/thumbs/1.jpg" alt="image01">
						<span>Pointe</span>
					</a>
					<div>
						<a href="#">DELETE</a>
					</div>
				</li>

				<li>
					<a href="#image-1">
						<img src="images/thumbs/1.jpg" alt="image01">
						<span>Pointe</span>
					</a>
					<div>
						<a href="#">DELETE</a>
					</div>
				</li>

				<li>
					<a href="#image-1">
						<img src="images/thumbs/1.jpg" alt="image01">
						<span>Pointe</span>
					</a>
					<div>
						<a href="#">DELETE</a>
					</div>
				</li>

				<li>
					<a href="#image-1">
						<img src="images/thumbs/1.jpg" alt="image01">
						<span>Pointe</span>
					</a>
					<div>
						<a href="#">DELETE</a>
					</div>
				</li>

				<li>
					<a href="#image-1">
						<img src="images/thumbs/1.jpg" alt="image01">
						<span>Pointe</span>
					</a>
					<div>
						<a href="#">DELETE</a>
					</div>
				</li>

				<li>
					<a href="#image-1">
						<img src="images/thumbs/1.jpg" alt="image01">
						<span>Pointe</span>
					</a>
					<div>
						<a href="#">DELETE</a>
					</div>
				</li>

				<li>
					<a href="#image-1">
						<img src="images/thumbs/1.jpg" alt="image01">
						<span>Pointe</span>
					</a>
					<div>
						<a href="#">DELETE</a>
					</div>
				</li>

				<li>
					<a href="#image-1">
						<img src="images/thumbs/1.jpg" alt="image01">
						<span>Pointe</span>
					</a>
					<div>
						<a href="#">DELETE</a>
					</div>
				</li>

				<li>
					<a href="#image-1">
						<img src="images/thumbs/1.jpg" alt="image01">
						<span>Pointe</span>
					</a>
					<div>
						<a href="#">DELETE</a>
					</div>
				</li>
			</ul>
		</section>
    </div>
{% endblock %}