{% extends "::layout/layout.html.twig" %}


{% block body %}
    <div class="container">
    <div class="titre">
    <h1>Modifier l'évènement</h1>
    </div>


    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_evenements') }}">
            Retourner à la liste
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
</div>
{% endblock %}
